main.article-main {
    width: 100%;
    padding: 100px 0px 0 65px;
    article {
        display: flex;
    }
    h3 {
        font-size: 30px;
        font-weight: 700;
    }
    p {
        font-weight: 400;
        color:#F6F6F6;
    }
    div p {
        color: #EBBE54;
    }
}